

<div class=" chat-window-container">
  <div class="chat-window">
  <button class="btn-minimize pull-right " data-toggle="tooltip" data-placement="top" title="I am athena health care agent"> <img src="http://rs931.pbsrc.com/albums/ad156/florenceleroy/kawaii%20animals/kawaii01.gif~c200" class="image"/>JADU</button>

    <div class="widget-content panel-container">
      <div class="panel panel-default">

        <div class="panel-heading top-bar">
          <div class="panel-title-container">
            <h3 class="panel-title">
              <!--Chat - {{currentThread.name}}-->
              JADU
            </h3>
          </div>
          <div class="panel-buttons-container">
            <!-- you could put minimize or close buttons here -->
          </div>
        </div>

        <!--<div class="panel-body msg-container-base">
        <chat-image></chat-image>
        </div>-->

<div class="row .scroll1 scroll " #scroll id="top">



  <div class="box">{{start}}</div>

<!--
<div  *ngFor="let d of valmsg">
  <div class="valid">{{d}} not applicable</div>
</div>
-->

  <div class="" *ngFor="let m of singleArray">
    <div *ngIf="m.user" class="box1">{{m.user}}</div>
    <div *ngIf="m.sys" class="box">{{m.sys}}</div>

  </div>



<!--
<div class="valid" *ngIf="formval"> {{frmmsg}} not applicable.</div>
-->


  <div *ngIf="button" class="box "><p>Name: {{name}}</p>
    <p> MemberId: {{memid}}</p>
    <p> Money: {{money}}</p>
    <p>Co-pay: {{copay}}</p>
  </div>



</div>





        <div class="panel-footer">
          <div class="input-group">
            <input type="text"
                   class="chat-input"
                   placeholder="Write your message here..."
                   [(ngModel)]="text"
                   (keydown.enter)="onEnter(text)"
            />   <!--$event-->
            <span class="input-group-btn">
            <button class="btn-chat" id="#button"
                    (click)="onEnter(text)"
            >Send</button>
          </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
