.box {
  background-color: #c1dff6;
  border-radius: 5%;
  text-align: center;
  padding:10px;
  margin-left: 3%;
  margin-right: 20%;

  margin-top:10px;
  font-size: 12px;

}


.scroll {
 height:300px;
  overflow: scroll;
  overflow-y: scroll;
  scroll:auto;
}
.box1 {
  background-color:#66afe9;
  border-radius: 5%;
  text-align: center;
  padding:10px;
  margin-left: 20%;
  margin-right: 3%;

  margin-top:10px;
  font-size: 12px;
}
.chat-window .top-bar {
  background-color:  #5ca2f9;   /* #098ba7;*/
}

.btn-minimize {

  width: 70px;
  height: 80px;
  background-color: #eff7fc;
  border-color: black;
  margin-right: 4%;
}
/*.btn-minimize.btn-plus {
  background-color: #0F0;
}*/
.image {
  /*border-radius: 50%;*/
}
.dot {
  height:10%;
  width:30%;
  background-color: green;
border-radius: 50%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.chat-image {
  height:10%;
  width:10%;
  border-radius: 50%;
}
.valid {
  background-color: #c1dff6;
  border-radius: 5%;
  text-align: center;
  padding:10px;
  margin-left: 5%;
  margin-right: 50%;
  margin-top:10px;
  font-size: 15px;
  color:red;
}

.chat-window {
  width: 350px;
  margin-right: 0%;
}
.btnpadding {
  padding:10px;
}
