
<!--[isValid]="emailForm.form.valid"-->
<!--
 (onNext)=""
onStep1Next($event)
-->


<div class=" col-md-9 card" xmlns="http://www.w3.org/1999/html">
  <div class="card-block">
   <!-- <h4 class="card-title"></h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
-->




<baWizzard>
  <baWizzardStep [title]="'Patient Details'"  >  <!--[isValid]="form.valid"-->

    <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)" >
  <div class="row margin">
    <div class="form-group col-md-6">
      <label for="claimid">Member id</label>
      <input formControlName="cid" type="text" class="form-control" id="claimid" (change)="idstore(form.value)" aria-describedby="emailHelp"
             >
    </div>


    <div class="form-group  col-md-6" >
      <label for="dob">Age</label>
      <input formControlName="age" type="text" class="form-control" id="dob"  (change)="agestore(form.value)"  aria-describedby="emailHelp"
             >
    </div>

  </div>
  <div class="row">
  <div class="form-group  col-md-3" >
    <label for="fname">First Name</label>
    <input formControlName="fname" type="text" class="form-control" id="fname"  (change)="firststore(form.value)" aria-describedby="emailHelp"
           >
  </div>
  <div class="form-group col-md-3" >
    <label for="lname">Last Name</label>
    <input formControlName="lname" type="text" class="form-control" id="lname"  (change)="laststore(form.value)" aria-describedby="emailHelp"
           >
  </div>


    <div class="form-group  col-md-6">
      <label for="rfv">Reason for visit</label>
      <input formControlName="rfv" type="text" class="form-control" id="rfv" (change)="reasonstore(form.value)" aria-describedby="emailHelp"
             >
    </div>

  </div>


</form>


   <!-- onStep2Next($event)-->


  </baWizzardStep>
  <baWizzardStep [title]="'Illness'" >

    <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)" >
      <div class="row margin">
        <div class="form-group col-md-6">
          <label for="doi">Date Of Illness</label>
          <input type="date" class="form-control" formControlName="doi" id="doi" (change)="doistore(form.value)" aria-describedby="emailHelp"
                 required>
        </div>

        <div class="col-md-2"><h3>Emergency</h3></div>
        <div class="form-group col-md-3" >
          <input type="radio"  name="female" [value]="1"  (click)="emerstore(1)">  Yes <br>
          <input type="radio"  name="female" [value]="2"  (click)="emerstore(2)" >  No
        </div>

      </div>
      <div class="row">
        <div class="form-group  col-md-6" >
          <label for="firstconsult">Date first consulted in your condition</label>
          <input  type="date" class="form-control"  formControlName="dfc" id="firstconsult" (change)="dfcstore(form.value)" aria-describedby="emailHelp"
                 required>
        </div>


        <div class="form-group  col-md-6" >
          <label for="similar">Similar illness or injury given dates</label>
          <input  type="date" class="form-control" formControlName="illness" id="similar" (change)="illnesstore(form.value)" aria-describedby="emailHelp"
                  required>
        </div>

        </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class=" panel panel-primary ">
            <div class="panel-heading">Reasons</div>
            <div class=" panel-body details">

              <div class="row">
                <div class="col-md-6">
                  <div class=" form-group checkbox ">
                    <input type="checkbox" class="input-assumpte" name="checkbox"   id="checkbox3" checked/>
                    <label for="checkbox3">
                    </label>
                    <div class="tag">General illness
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class=" form-group checkbox ">
                    <input type="checkbox" class="input-assumpte" name="checkbox"  id="checkbox7" />
                    <label for="checkbox7">
                    </label>
                    <div class="tag">Accident related
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class=" form-group checkbox ">
                    <input type="checkbox" class="input-assumpte" name="checkbox"  id="checkbox8" />
                    <label for="checkbox8">
                    </label>
                    <div class="tag">Self-Injury
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group checkbox">
                    <div class="tag ">Adventure sports
                    </div>
                    <input type="checkbox"  class="input-assumpte" name="checkbox" id="checkbox4"  />
                    <label for="checkbox4">
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class=" form-group checkbox">
                    <div class="tag">Taking part in an illegal occupation
                    </div>
                    <input type="checkbox"  class="input-assumpte" id="checkbox5" />
                    <label for="checkbox5">
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class=" form-group checkbox ">
                    <div class="tag">War, Declared or Undeclared</div>
                    <input type="checkbox"  class="input-assumpte" id="checkbox6"/>
                    <label for="checkbox6"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>




  </baWizzardStep>
  <!--onStep3Next($event)-->
  <baWizzardStep [title]="'Hospital Services'" >



    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>-->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Type of Service Codes</h4>
          </div>
          <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
            <p (click)="servicecode('1')"  class="pos" data-dismiss="modal"><strong>1 - Medical Care</strong></p>
             <p (click)="servicecode('2')"  class="pos" data-dismiss="modal"><strong>2 - Surgery</strong></p>
             <p (click)="servicecode('3')"  class="pos" data-dismiss="modal"><strong>3 - Consultation</strong></p>
            <p (click)="servicecode('4')"  class="pos" data-dismiss="modal"> <strong>4 - Diagnostic X-Ray</strong></p>
            <p (click)="servicecode('5')"  class="pos" data-dismiss="modal"><strong>5 - Diagnostic Laboratory</strong></p>
             <p (click)="servicecode('6')"  class="pos" data-dismiss="modal"><strong>6 - Radiation Therapy</strong></p>
              <p (click)="servicecode('7')"  class="pos" data-dismiss="modal"><strong>7 - Anesthesia</strong></p>
            </div>
            <div class="col-md-6">
             <p (click)="servicecode('8')"  class="pos" data-dismiss="modal"><strong>8 - Assiatance at Surgery</strong></p>
            <p (click)="servicecode('9')"  class="pos" data-dismiss="modal"> <strong>9 - Other Medical Service</strong></p>
           <p (click)="servicecode('0')"  class="pos" data-dismiss="modal"><strong>0 - Blood  or Packed Red Cells</strong></p>
           <p (click)="servicecode('A')"  class="pos" data-dismiss="modal"> <strong>A - Used DME</strong></p>
            <p (click)="servicecode('M')"  class="pos" data-dismiss="modal"><strong>M - Alternate Payment for Maintenance Dialysis</strong></p>
             <p (click)="servicecode('Y')"  class="pos" data-dismiss="modal"> <strong>Y - Second Opinion Elective Surgery</strong></p>
           <p (click)="servicecode('Z')"  class="pos" data-dismiss="modal"><strong>Z - Third Opinion on Elective Surgery</strong></p>
            </div>


          </div>



          </div>

        </div>
      </div>
    </div>



    <!--modal-2-->

    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Place of Service Codes</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-md-6">
                <p (click)="placeofservicecode('1H')"  class="pos" data-dismiss="modal"><strong>1 -(1H)  - inpatient Hospital</strong></p>
             <p (click)="placeofservicecode('oH')"  class="pos" data-dismiss="modal"><strong>2 -(OH)  - Outpatient Hospital</strong></p>
              <p (click)="placeofservicecode('o')"  class="pos" data-dismiss="modal"><strong>3 - (o)   - Office Visit</strong></p>
            <p (click)="placeofservicecode('H')"  class="pos" data-dismiss="modal"> <strong>4 -(H)   - Patient Home</strong></p>
             <p (click)="placeofservicecode('5')"  class="pos" data-dismiss="modal"><strong>5 -  &nbsp;        - Day Care Facility(PSY)</strong></p>
             <p (click)="placeofservicecode('6')"  class="pos" data-dismiss="modal"><strong>6 -   &nbsp;      - Night Care Facility(PSY)</strong></p>
              <p (click)="placeofservicecode('NH')"  class="pos" data-dismiss="modal"><strong>7 -(NH)  - Anesthesia</strong></p>
              </div>
              <div class="col-md-6">
              <p (click)="placeofservicecode('SNF')"  class="pos" data-dismiss="modal"><strong>8 -(SNF)  - Skilled Nursing Facility</strong></p>
               <p (click)="placeofservicecode('9')"  class="pos" data-dismiss="modal"> <strong>9 - &nbsp;     - Ambulance</strong></p>
               <p (click)="placeofservicecode('OL')"  class="pos" data-dismiss="modal"><strong>o -(OL)   - Other Location</strong></p>
               <p (click)="placeofservicecode('IL')"  class="pos" data-dismiss="modal"> <strong>A -(IL)  - Independent Laboratory</strong></p>
               <p (click)="placeofservicecode('B')"  class="pos" data-dismiss="modal"><strong>B-   &nbsp;       - Other Medical Surgical Facility</strong></p>
                <p (click)="placeofservicecode('RTC')"  class="pos" data-dismiss="modal"> <strong>C -(RTC) - Second Opinion Elective Surgery</strong></p>
              <p  (click)="placeofservicecode('STF')"  class="pos" data-dismiss="modal"><strong>D -(STF)  - Specialized Treatment Facility</strong></p>
              </div>


            </div>



          </div>

        </div>
      </div>
    </div>








    <div class="row clearfix margin"  >
      <div class="col-md-10 column" >
        <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)" >

        <table class="table table-bordered table-hover" id="tab_logic">
          <thead>
          <tr>

            <th class="text-center">
              S.no
            </th>
            <th class="text-center">
             Date of service
            </th>
            <th class="text-center required-field-block" data-toggle="modal" data-target="#myModal">
              Type of Service &nbsp; <span class="badge">?</span>
           </th>
            <th class="text-center" data-toggle="modal" data-target="#myModal1">
              Place of Service &nbsp;<span class="badge">?</span>
            </th>
            <th class="text-center" >
              Procedure codes
            </th>
            <th class="text-center">
              Diagnosis Code
            </th>
          </tr>
          </thead>

          <tbody >
          <tr >
            <td>
              1
            </td>
            <td>
              <input type="date" name='name0' formControlName="dos" (change)="dosstore(form.value)" placeholder='date' class="form-control"/>
            </td>
            <td  [ngStyle]="{'background-color': service? 'yellow' : 'white'}">
              <input type="text" name='name0' formControlName="tos" placeholder='Type of Service' (change)="tosstore(form.value)" [ngModel]="typeofservice" (ngModelChange)="tosstore(form.value)" class="form-control" disabled/>
            </td>
            <td  [ngStyle]="{'background-color': service ? 'yellow' : 'white'}">
              <input type="text" name='mail0' formControlName="pos" placeholder='Place of Service' (change)="posstore(form.value)" [ngModel]="placeofservice"  (ngModelChange)="posstore(form.value)"class="form-control" disabled=""/>
            </td>
            <td [ngStyle]="{'background-color': cellbackground? 'red' : 'white'}">
              <input type="text" name='mobile0' formControlName="pci" placeholder='Procedure code ' (change)="pcistore(form.value)" class="form-control"/>
            </td>
            <td [ngStyle]="{'background-color': cellbackground? 'red' : 'white'}">
              <input type="text" name='mobile0' formControlName="dc" placeholder=' Diagnosis Code' (change)="dcstore(form.value)" class="form-control"/>
            </td>
          </tr>
          <tr id='addr1'></tr>
          </tbody>


        </table>




        </form>
      </div>
      <div *ngIf="cellbackground" class="col-md-2">
        <p class="text-warning">Do you want to proceed with conflict codes ?</p>
        <button class="button btn-warning" (click)="validation1('yes')">yes</button>
        <button class="button btn-success" (click)="validation('no')">no</button>
      </div>


      <div *ngIf="iswarning" class="col-md-2 text-warning glyphiconwarning padding"> <span class="glyphicon glyphicon-exclamation-sign"></span></div>

      <div *ngIf="iswarning1" class="col-md-2 text-warning">To enter correct codes, take help from chatbot</div>


      <div *ngIf="success" class="col-md-2 padding ">  <span class="glyphicon glyphicon-ok glyphiconstyle "></span>
      </div>

      <!--<button class="buttonbag"><button  id="add_row" >+</button><button  id='delete_row' >-</button></button>-->
    </div>
 <a id="add_row"  class="btn btn-default pull-left btnmargin">+</a><a id='delete_row'  class=" btn btn-default btnmargin">-</a>

    <div *ngIf="procedurecode " class="col-md-offset-3 text-danger">89900:procedure code does not exist</div>

  </baWizzardStep>

 <!--(onComplete)="onComplete($event)" -->
  <baWizzardStep [title]="'Preview'" >
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>


        <h2 class="text-primary">Patient Details</h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Member Id  :<strong>5236</strong></h3>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              Full Name :<strong>Gurram  GopiKrishna</strong>
            </div>
            <div class="col-md-6">
              Age :<strong> 66</strong>
            </div>
          </div>

        <div class="row">
          <div class="col-md-6">
            Reason for visit :<strong> headache</strong>
          </div>
        </div>
       <h2 class="text-primary">Illness</h2>
        <div class="row">
          <div class="col-md-6">
            Date of Illness:<strong> 22-9-2017</strong>
          </div>
          <div class="col-md-6">
            Emergency :<strong> yes</strong>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Date first cosulted in your condition:<strong> 20-9-2017</strong>
          </div>
          <div class="col-md-6">
            Similar illness or injury given dates :<strong> 29-9-2017</strong>
          </div>
        </div>

        <h2 class="text-primary">Horspital Services</h2>

       <div class="row">
        <table class="table table-bordered table-hover">
          <thead>
          <tr >

            <th class="text-center">
              Date of service
            </th>
            <th class="text-center required-field-block" >
              Type of Service &nbsp;
            </th>
            <th class="text-center" >
              Place of Service &nbsp;
            </th>
            <th class="text-center">
              Procedure codes identify
            </th>
            <th class="text-center">
              Diagnosis Code
            </th>
          </tr>
          </thead>

          <tbody>
          <tr>

            <td>
              <strong> 22-7-2017</strong>
            </td>
            <td>
              <strong> 4</strong>
            </td>
            <td>
              <strong>  (oH)</strong>
            </td>
            <td>
              <strong> 90791</strong>
            </td>
            <td>
              <strong>  290.43</strong>
            </td>
          </tr>
          </tbody>

        </table>
       </div>



      </div>
      <div class="row ">
      <button type="button" class="btn btn-primary col-md-offset-5 "  (click)="complete()"  >Done</button>
      </div>

      <div *ngIf="_isCompleted" class="col-md-offset-4">
        <h4 class="text-success">Thank you! Your claim created successfully.</h4>
      </div>




      <div *ngSwitchCase="true">
        <h4 class="">Thank you! You have completed all the steps.</h4>
      </div>
    </div>
  </baWizzardStep>
</baWizzard>

  </div>
</div>
