input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;

  width: 100px;
  height: 100px;
  border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
.margin {
  margin-top: 5%;
  margin-right: 10%;
}
.panel-default > .panel-heading {
  background-color: #098ba7;
  color:white;
}
.text{

  padding-right: 150px;
}
