


<div class="col-md-12">
<div class="card">
<div class="service">
<div class="card-wrapper">

  <div class="row">
    <div class="col-md-offset-2 col-md-4">

<div class="left">
  <img class="img" src="https://www.athenahealth.com/sites/ahcom/files//kwahk-lockup-2x.png">
</div>
    </div>
    <div class=" col-md-4">
  <div class="divide">

    <div class="hero-card">
      <span class="gray">
        <h3>Know</h3>
        <ul class="list">
          <li>how your practice's performance measures up</li>
          <li>which proven best practices can help you thrive</li>
          <li>how to collect more revenue with less work</li>
        </ul>
      </span>

    </div>


  </div>
    </div>
</div>

</div>
</div>
</div>

<div class="slim-card">


  <div class="background">


    <div class="card-content">

      <div class="card-txt abc txt-color">
 <h3 class="txt-color">When can we talk?</h3>

        <p>Book a convenient time to learn more about athenahealth.</p>

      </div>
      <div class="icon">

        <div class="icon-wrap">

  <img  class="slim-image" src="https://www.athenahealth.com/sites/ahcom/files//calendar-icon.png"/>
      </div>
      </div>

    <div class="slim-btn">
      <a class="btn" href="https://www.athenahealth.com/scheduletime6">choose a time</a>

    </div>

    </div>
  </div>

</div>

</div>
